a{
    text-decoration: none;
    color: rgb(41, 35, 35);
}
a:hover{
    cursor: pointer;
    opacity: 0.7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos para a nav-bar */
div#navbar{
    background-color: #ffffffef;
    box-shadow: 0px 8px 16px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}
ul#list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}
ul li{
    margin-top: 3vh;
}
h2{
    color: aliceblue;
    text-shadow: 0 2px 4px black;
    
}
h2#un{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    padding: 10px 70px;
}
body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(68, 68, 255);
    color: aliceblue;
}
ul li{
    font-weight: 600;
    
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid black;
    
}
h3{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 4px;
    text-shadow: 2px 0px 3px black;
    color: rgb(249, 252, 255);
}
p{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 0px 8px black;
    color: rgb(236, 230, 230);
}

/*@keyframes example {
    from {max-height: 180px;
        width: 180px;}
    to {max-height: 210px;
        width: 210px;}
  }*/
.carousel-fade .carousel-inner .carousel-item {
    animation-name: example;
    animation-duration: 2s;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    left: 0;
    right: 0;
  }

  .carousel-fade .carousel-inner .active {
    opacity: 1; 
  }
